.container
  .image-wrap
    .col-md-12
      .text-center
        -if @user.avatar.exists?
          =image_tag @user.avatar.url(:medium), id: 'avatar-preview', class: 'img-responsive'
        -else
          =image_tag 'default_avatar.png', id: 'avatar-preview', class: 'img-responsive'
        %h2.user-name
          =@user.name
        %h3
          =@user.bio
        -if current_user.id == @user.id
          =link_to 'Edit Profile', edit_profile_path(@user.name), class: 'btn edit-button'
      .posts-wrapper.row#posts
        =render @posts
      =render 'posts/posts_paginator'
