/ form-horizontal, form-group and text-center are bootstrap classes
=form_for [post, @comment], html: { class: 'form-horizontal', remote: true } do |f|
  .form-group
    =f.text_field :content, placeholder: 'Add a comment...', class: 'comment_content', id: "comment_content_#{post.id}"
    =f.hidden_field :post_id, value: post.id
  .form-group
    =f.button 'Submit', class: 'btn btn-success'
