%li
  %p
    %span
      =link_to profile_path(notification.notified_by.name) do
        =notification.notified_by.name
      =notification.notice_type + 'ed your'
      =link_to ' post', link_through_path(notification)
