.posts-wrapper
  .post
    .post-body
      .image-wrap
        -if @post.image.exists?
          =image_tag @post.image.url(:medium), id: 'image-preview', class: 'img-responsive'
        -else
          =image_tag 'placeholder.png', id: 'image-preview', class: 'img-responsive'
        =simple_form_for @post, html: { multipart: true } do |f|
          .row
            .col-md-12.text-center
              =f.error_notification
          .container-fluid
            .form-group.text-center
              %h4 Upload an image
              =f.input :image, as: :file,
                               label_html: { class: "sr-only" },
                               input_html: { onChange: 'loadFile(event)' }
            .form-group.text-center
              =f.input :caption, as: :string, placeholder: 'Your caption...'
            .form-group.text-center
              =f.button :submit, class: 'btn-success btn-block'
