/ form-group and text-center are bootstrap classes
.form-wrapper
  = simple_form_for @post, html: { class: 'form-horizontal', multipart: true} do |f|
    .form-group
      .text-center.post-head Current Image
      .image.center-block
        =image_tag @post.image.url(:medium), class:'img-responsive'
    .form-group
      = f.input   :image,   as: :file, label: 'Upload image'
    .form-group.text-center
      = f.input   :caption, as: :string
    .form-group.text-center
      = f.button  :submit,  class: 'btn-success'
