.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        =post.user.name
      .time-ago
        =time_ago_in_words post.created_at
    .image.center-block
      =link_to post do
        =image_tag post.image.url(:medium), class: 'img-responsive'
    .post-bottom
      .caption
        .user-name
          =post.user.name
        =post.caption
      / Comments:
      .comments{id: "comments_#{post.id}"}
        =render post.comments.order('created_at ASC').last(3)
      -comments_count = post.comments.count
      -if comments_count > 3
        =link_to "Show all #{comments_count} comments", post_comments_path(post, paginator_action: 'show'),
                 remote: true, id: "comments_paginator_link_#{post.id}"
    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphicon-heart-empty")
      .comment-form.col-sm-11
        =render 'comments/form', post: post
